
.box {
    margin-top: 80px;
}

.inner_box {
    overflow: hidden;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 54px;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.list_news {
    overflow: hidden;
}

ul {
   list-style-type: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.list_news li {
    float: left;
    width: 30%;
}
.list_news li + li {
    margin-left: 3%;
}


.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}

.list_news .tit_cate {
    float: left;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
}

.noto-demi {
    font-family: 'noto-demilight', '¸¼Àº °íµñ', 'Malgun Gothic', 'µ¸¿ò', dotum, sans-serif;
}

    
.list_news .link_card .img_comm2 {
    float: right;
    width: 18px;
    height: 18px;
    margin: 9px 1px 0 0;
    background-position: -140px -90px;
}

.img_comm2 {
    background-image: url(https://t1.kakaocdn.net/gamepub/pub/battlegrounds/images/img_comm2_210827.png);
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
  
}


.list_news .card_info {
    background-color: #fff;
}



.list_news .link_thumb {
    display: block;
}
.list_news .wrap_thumb {
    position: relative;
    overflow: hidden;
    padding-top: 57.293%;
    margin-bottom: 23px;
}

.list_news .link_thumb:hover .thumb_g {
   transform: scale(1.1);
}
   
   
.list_news .wrap_thumb .thumb_g {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: transform .5s;
}
.thumb_g {
    width: 100%;
    vertical-align: top;
}


.list_news .card_tit {
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    padding: 0 60px 0 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #0e0e0e;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    box-sizing: border-box;
    transition: text-decoration 0.3s ease;
}

.list_news .card_tit:hover {
    text-decoration: underline; /* Ä¿¼­¸¦ ¿Ã·ÈÀ» ¶§ ¹ØÁÙ Ãß°¡ */
}

.list_news .desc_thumb {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    height: 75px;
    padding: 8px 20px 28px;
    font-size: 14px;
    line-height: 25px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
}
.list_news .desc_thumb:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    background-color: #fff;
    content: '';
}
.list_news .group_tit {
    height: 116px;
}
.list_news .group_tit .link_thumb {
    padding: 20px 0 16px;
    border-top: 1px solid #f7f7f7;
}













