@charset "UTF-8";

section {
    margin-top:50px;
    margin-bottom:50px;
    width: 100%;
    height : 250px;
    display: flex;
    background-color: black;
}

#slide {
    position: relative;
    width: 100%;
    height: 200px;
    animation: roll 15s infinite linear;
}

#slide_item1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    display: flex;
}

#slide_item2 {
   width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
}

@keyframes roll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

#slide img {
    width: 100%;
    height: 100%;
}

