@charset "UTF-8";
body{
	background:black;

}

header{
	padding-top:20px;
	padding-left:30px;
	font-size: 20px;
	text-align: center;
	height:80px;	
	background: black;
}


#site_logo {
	padding-top : 20px;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#logo {
    padding-left: 30px;
}

#logo img {
    height: 200px; /* 로고 높이 조정 */
}

#menu {
	padding-right : 70px;
    display: flex;
    justify-content: center; /* 메뉴를 중앙에 정렬 */
}

#menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    margin-left: 100px;
}

#menu ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#search{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

#search-box {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    height: 20px;
    justify-content: flex-end;
}

#search-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 30px;
}

#search-button:hover {
    background-color: #777;
}

#main_logform {
	padding: 20px 10px;
	width: 280px;
	background-color: #f2f2f2;
}
 
.login-form {
    background-color: #dedede;
	width: 220px;
    margin: 0 auto; /* 가운데 정렬을 위해 사용 */
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.login_button {
	background-color: #dedede; 
	width: 20px;
	height: 20px;
	}

.option01 { 
	font-size : 12px;
}

.bar{
	color: #000000;
}	


	
.option02 { 
	font-size : 12px;
}
	

	








footer{
	padding-top:25px;
	height:35px;		
	text-align:center;
	background:#ca99e3;	
	font-size: 12px;
	color:LightCyan;	
}


.head:link{ color:lightcyan; text-decoration:none;}
.head:visited{ color:lightcyan; text-decoration:none;}
.head:active{ color:lightcyan; text-decoration:none;}
.head:hover{ color:lightcyan; text-decoration:none;}

A:link{ color:#555555; text-decoration:none;}
A:visited{ color: #555555; text-decoration:none;}
A:active{ color: #555555; text-decoration:none;}
A:hover{ color: #000000; text-decoration:underline;}
