@charset "UTF-8";
body{
	background:black;

}

header{
	padding-top:20px;
	padding-left:30px;
	font-size: 20px;
	text-align: center;
	height:80px;	
	background: black;
}


#site_logo {
	padding-top : 20px;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#logo {
    padding-left: 30px;
}

#logo img {
    height: 200px; /* 로고 높이 조정 */
}

#menu {
	padding-right : 70px;
    display: flex;
    justify-content: center; /* 메뉴를 중앙에 정렬 */
}

#menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    margin-left: 100px;
}

#menu ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#search{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

#search-box {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    height: 20px;
    justify-content: flex-end;
}

#search-button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 30px;
}

#search-button:hover {
    background-color: #777;
}



<!-- middle -->

.box_battle2 {
    margin-top: 80px;
}
.inner_box {
    overflow: hidden;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 54px;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.list_news {
    overflow: hidden;
}
.list_news li {
    float: left;
    width: 23.495%;
}
.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}
.list_news .tit_cate {
    float: left;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
}
.list_news .link_card .img_comm2 {
    float: right;
    width: 18px;
    height: 18px;
    margin: 9px 1px 0 0;
    background-position: -140px -90px;
}
.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}
.list_news .tit_cate {
    float: left;
    font-weight: normal;
    font-size: 23px;
    line-height: 30px;
}
.list_news .link_card .img_comm2 {
    float: right;
    width: 18px;
    height: 18px;
    margin: 9px 1px 0 0;
    background-position: -140px -90px;
}
.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news li {
    float: left;
    width: 23.495%;
}
.list_news li + li {
    margin-left: 2.0005%;
}
.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news .link_thumb {
    display: block;
}
.list_news .wrap_thumb {
    position: relative;
    overflow: hidden;
    padding-top: 57.293%;
    margin-bottom: 23px;
}
.list_news .wrap_thumb .thumb_g {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    transition: transform .5s;
}
.thumb_g {
    width: 100%;
    vertical-align: top;
}
.list_news .wrap_thumb {
    position: relative;
    overflow: hidden;
    padding-top: 57.293%;
    margin-bottom: 23px;
}
.list_news .card_tit {
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    padding: 0 60px 0 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #0e0e0e;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    box-sizing: border-box;
}
.list_news .card_tit {
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    padding: 0 60px 0 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #0e0e0e;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    box-sizing: border-box;
}
.list_news .desc_thumb {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    height: 75px;
    padding: 8px 20px 28px;
    font-size: 14px;
    line-height: 25px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
}
.list_news .desc_thumb:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    background-color: #fff;
    content: '';
}
.list_news .desc_thumb {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    height: 75px;
    padding: 8px 20px 28px;
    font-size: 14px;
    line-height: 25px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
}
.list_news .link_thumb {
    display: block;
}


.list_news .group_tit {
    height: 116px;
}
.list_news .group_tit .link_thumb {
    padding: 20px 0 16px;
    border-top: 1px solid #f7f7f7;
}
.list_news .group_tit .link_thumb {
    padding: 20px 0 16px;
    border-top: 1px solid #f7f7f7;
}
.list_news .link_thumb {
    display: block;
}
.list_news .group_tit {
    height: 116px;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news li {
    float: left;
    width: 23.495%;
}
.list_news li + li {
    margin-left: 2.0005%;
}
.list_news li {
    float: left;
    width: 23.495%;
}
.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news .link_thumb {
    display: block;
}
.list_news .wrap_thumb {
    position: relative;
    overflow: hidden;
    padding-top: 57.293%;
    margin-bottom: 23px;
}
.list_news .wrap_thumb .thumb_g {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    transition: transform .5s;
}
.list_news .wrap_thumb {
    position: relative;
    overflow: hidden;
    padding-top: 57.293%;
    margin-bottom: 23px;
}
.list_news .card_tit {
    display: inline-block;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    padding: 0 60px 0 20px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #0e0e0e;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
    box-sizing: border-box;
}
.list_news .desc_thumb {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    position: relative;
    height: 75px;
    padding: 8px 20px 28px;
    font-size: 14px;
    line-height: 25px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    word-wrap: break-word;
}
}
.list_news .link_thumb {
    display: block;
}
a {
    color: #333;
    text-decoration: none;
}
.list_news .group_tit {
    height: 116px;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news li + li {
    margin-left: 2.0005%;
}
.list_news li {
    float: left;
    width: 23.495%;
}
.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news .link_thumb {
    display: block;
}
a {
    color: #333;
    text-decoration: none;
}
.list_news .group_tit {
    height: 116px;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news li + li {
    margin-left: 2.0005%;
}
.list_news li {
    float: left;
    width: 23.495%;
}
.list_news .link_card {
    display: block;
    overflow: hidden;
    height: 46px;
    text-decoration: none;
}
.list_news .card_info {
    background-color: #fff;
}
.list_news li + li {
    margin-left: 2.0005%;
}
.list_news li {
    float: left;
    width: 23.495%;
}
.list_news {
    overflow: hidden;
}
.inner_box {
    overflow: hidden;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 54px;
}
.box_battle2 {
    margin-top: 80px;
}


















footer{
	padding-top:25px;
	height:35px;		
	text-align:center;
	background:#ca99e3;	
	font-size: 12px;
	color:LightCyan;	
}
#login{
	font-size:13px;
}
#title{
	text-align:center;	
}

.head:link{ color:lightcyan; text-decoration:none;}
.head:visited{ color:lightcyan; text-decoration:none;}
.head:active{ color:lightcyan; text-decoration:none;}
.head:hover{ color:lightcyan; text-decoration:none;}

A:link{ color:#555555; text-decoration:none;}
A:visited{ color: #555555; text-decoration:none;}
A:active{ color: #555555; text-decoration:none;}
A:hover{ color: #000000; text-decoration:underline;}


