@charset "UTF-8";

#theme {
    display: flex;
}

#theme img {
	cursor : pointer;
}

#whiteModeButton {
    cursor: pointer;
}

.whiteMode  {
    background-color: #f3f3f3;
}

.whiteMode .rollingbanner {
    background-color: #f3f3f3;
}

.whiteMode .title {
	color : black;
}

.whiteMode .title2 {
	color : black;
}

.whiteMode .login {
	background-color : #eadbf7;
}
.whiteMode .tit_cmt {
	color: #333;
}
.whiteMode .info_byte {
	color: #333;
}
.whiteMode .emph_g2 {
    color: #f19a09;
}