@charset "UTF-8";
::-webkit-scrollbar {
    width: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ca99e3, skyblue);
    border-radius: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 10px;
    background: #000000;
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(to right, #ca99e3, skyblue);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    display: none; /* 스크롤 버튼 숨김 */
}

body{
 	background:#000000;
    display: block;
    margin: 0px;
    overflow-x: hidden;
    padding-top: 130px;
}

header{
	position: fixed;
	padding-top:10px;
	padding-left:30px;
	font-size: 20px;
	text-align: center;
	height:80px;	
 	background: #decbed;
	padding-bottom : 30px;
	width: 100%;
    top: 0px;
    z-index: 1000;
}

#site_logo {
	padding-top : 20px;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

#logo {
    padding-left: 30px;
}

#logo img {
    height: 100px; /* 로고 높이 조정 */
}

#menu {
	padding-right : 70px;
    display: flex;
    justify-content: center; /* 메뉴를 중앙에 정렬 */
}

#menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    margin-left: 100px; /* 초기 간격 설정 */
    transition: margin-left 0.3s ease; /* margin-left 속성에 대한 0.3초의 ease 애니메이션 효과 */
}

@media (max-width: 1200px) {
    #menu ul li{
        margin-left: 50px; /* 1200px 이하의 화면 크기에서 간격을 줄임 */
    }
}

@media (max-width: 900px) {
    #menu ul li{
        margin-left: 30px; /* 992px 이하의 화면 크기에서 더 작은 간격으로 줄임 */
    }
}

@media (max-width: 768px) {
    #menu ul li{
        margin-left: 10px; /* 768px 이하의 화면 크기에서 더 작은 간격으로 줄임 */
    }
}

#menu ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    white-space: nowrap;
}

#search{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

#search-box {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    height: 20px;
    justify-content: flex-end;
}

#search-button {
    padding: 5px 10px;
    font-size: 10px;
    white-space: nowrap;
    background-color: #555;
    color: white;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 30px;
}
@media (max-width: 1200px) {
    #search{
        margin-left: 100px; /* 1200px 이하의 화면 크기에서 간격을 줄임 */
    }
}

@media (max-width: 900px) {
    #search{
        margin-left:50px; /* 992px 이하의 화면 크기에서 더 작은 간격으로 줄임 */
    }
}

@media (max-width: 768px) {
    #search{
        margin-left: 20px; /* 768px 이하의 화면 크기에서 더 작은 간격으로 줄임 */
    }
}

#search-button:hover {
    background-color: #777;
}


#login{
	font-size:13px;
}
#title{
	text-align:center;	
}


#theme {
	display: flex;
    align-items: center;
    margin-left: 20px;	
    position: relative;=
}

#darkModeButton {
  cursor: pointer;
}

.darkMode {
  background-color: #f3f3f3;
} 

.darkMode .rollingbanner {
	background-color: #f3f3f3;
}

.darkMode .link_card {
	color: black;
}

.darkMode .link_card1 {
	color: black;
}
