.rollingbanner {
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-top : 10px;
}

.roller {
	width: 100%
	height: 300px;
    position: relative;
    display: flex;
    left 0;
}

.roller a {
    margin-right: 10px;
}

.roller img {
    height: 300px;
}