@charset "UTF-8";

#theme {
    display: flex;
    align-items: center;
    margin-left: 20px;
    position: relative;
}

#darkModeButton {
    cursor: pointer;
}

.darkMode  {
    background-color: #f3f3f3;
}

.darkMode .rollingbanner {
    background-color: #f3f3f3;
}

.darkMode .title {
	color : black;
}

.darkMode .title2 {
	color : black;
}

.darkMode .login {
	color : #ffcee7;
}